*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;
}
h1{
    text-align: center;
    padding: 2%;
    margin: 0;
    font-size: 2em;
}

section{
    background-color: green;
    
}
header, section{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    min-width: 525px;
    max-width: 650px;
}
header{
    background-color: gray;
    margin-top: 30px;
    border-radius: 4px;
}
#container{
    
    padding: 2%;
    
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    
    
}

.caixa{
    
    padding: 2% 5%;
    
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.block{
    width: 30%;
    display: inline-block;
}
.block input{
    width: 100%;
}
.block label{
    padding: 5%;
    font-size: 0.8em;
}
#timer{
    background-color: red;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 2px;
}
#start{
    width: 50%;
    padding: 2%;
    
}
.celula{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    padding: 2%;
    margin: 1%;
    border-radius: 2px;
    
    

}
.celula:hover{
    background-color: rgb(198, 248, 122);
    outline-color: salmon;
    outline-style: solid;
    outline-width: 1pt;
    cursor: grab;
}
.pisado{
    display: inline-block;
    background-color: rgb(100, 167, 1);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 2%;
    margin: 1%;
    border-radius: 2px;
    
}
.explodido{
    display: inline-block;
    background-color: rgb(253, 96, 91);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 2%;
    margin: 1%;
    border-radius: 2px;
}
